{% extends 'base.html' %}
{% block content %}
<h3>Service History</h3>
<table class="table table-bordered">
  <tr>
    <th>Vehicle</th>
    <th>Date</th>
    <th>Details</th>
    <th>Cost</th>
  </tr>
  {% for h in histories %}
  <tr>
    <td>{{ h.vehicle.vehicle_number }}</td>
    <td>{{ h.service_date }}</td>
    <td>{{ h.details }}</td>
    <td>{{ h.cost }}</td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="4" class="text-center">No history found.</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}